/* Header Style */
header {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    justify-content:center;
    margin:0;
    border-style: double;
    border-color: black;
    border-width: 1.5em;
}

.timer-section {
    width: 25%;
    background-color: rgb(149, 224, 99);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.timer-display {
    width:25%;
    background-color: white;
    border-color: black;
}

.hurry-up {
    color: rgb(255, 0, 0);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
}

.quiz-title {
    background:linear-gradient(0.25turn, rgb(149, 224, 99), #ebf8e1, rgb(255, 102, 153));
    width:50%;
    font-family:fantasy;
    font-size: larger;
    font-weight: bolder;
}

.start-btn {
    width: 20%;
    height: 40%;
    background-color: aquamarine;
    border-radius: 10px;
    border-width: 6px;
    border-color: black;
    border-style:ridge;
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.score-title {
    display:flex;
    flex-direction: column;
    width: 35%;
    align-items: center;
    background-color: rgb(255, 102, 153);

}

.score-box {
    width:25%;
    background-color: white;
    border-color: black;
}

/* Quiz Styles*/
.quiz {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-justify: center;
    text-align: center;
}

.question {
    margin: 5% 0 3% 0;

}

/* button Section */

.button-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.button-style {
    width: 50%;
    height:4rem;
    background-color: rgb(255, 102, 153);
}

.score {
    display:none;
    flex-direction:column;
    border-top: .16em solid;
    border-color: gray;
    justify-content: center;
    align-items: center;
    width: 50%;
    height:4rem;
}

.graded {
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: green;
    height:4rem;
    /* width: 50%; */

}   

/* High Scores */
.scores {
    display: none;
    flex-direction: column;
    text-justify: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

/* Modal Styles */
.modal {
    display:none;


}
