/* Header Style */
header {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    justify-content:center;
    margin:0;
    border-style: double;
    border-color: black;
    border-width: 1.5em;
}

.timer-section {
    width: 25%;
    background-color: rgb(149, 224, 99);

}

.quiz-title {
    background:linear-gradient(0.25turn, rgb(149, 224, 99), #ebf8e1, rgb(255, 102, 153));
    width:50%;

}

.score-title {
    width: 25%;
    background-color: rgb(255, 102, 153);
}


/* QuizU Body Style */
.quiz {

}
